:root {
    --primary-color: #d3f8e2;
    --secondary-color: #e4c1f9;
    --tertiary-color: #f694c1;
    --quaternary-color: #ede7b1;
    --quinary-color: #a9def9;
  }
  
  .navbar {
    background-color: var(--primary-color);
    padding: 10px 0;
    text-align: center;
  }
  
  .navbar-list {
    list-style: none;
    padding: 0;
  }
  
  .navbar-item {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: var(--quaternary-color);
    font-weight: bold;
  }
  
  .navbar-item a:hover {
    color: var(--secondary-color);
  }
  

  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;  
    gap: 8px; 
  }
  
  .pagination li a {
    border: 1px solid #e4c1f9;  
    color: #f694c1;  
    background-color: #d3f8e2;  
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;  
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .pagination li a:hover {
    background-color: #a9def9;  
    color: #ede7b1;  
  }
  
  .pagination .active a {
    background-color: #f694c1;  
    color: #d3f8e2;  
    border-color: #a9def9;  
  }
  
  .pagination .break a {
    pointer-events: none; 
  }
  